html,
body {
  background-color: #222222;
  overflow: visible;
  font-family: proxima,sans-serif;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
  background-color: black;
}

/* * {
  border: 1px solid red;
} */