.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: rgb(255, 255, 255);
  inline-size: 90px;
  overflow-wrap: break-word;
}

.progressBar {
  margin: 0px;
  padding: 5px 4px 3px;
  width: 492px;
  height: 20px;
  background: rgb(255, 255, 255);
  position:relative;
  text-align: left;
  float: left;
}

.rank {
  color: rgb(255, 255, 255);
  position: relative;
  box-sizing: border-box;
  font-size: 20px;
  font-family: proxima,sans-serif;
}