.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.spacer {
  width: 50px;
}

.input,
.mobileInput {
  inline-size: 182px;
  overflow-wrap: break-word;
}

.mobileInput {
  top: 40px;
  z-index: 1;
  position: absolute;
}

.containerMobile,
.containerDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: rgb(255, 255, 255);
  inline-size: 110px;
  overflow-wrap: break-word;
}

.textDiv {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.visaPolicyText {
  color: rgb(255, 255, 255);
}

.mobileBackground {
  background-color: rgb(43, 41, 41);
}

.progressBarDesktop {
  margin: 0px;
  margin-top: 10px;
  width: 492px;
  height: 20px;
  position:relative;
  text-align: left;
  float: left;
}

.progressBarsContainer {
  width: 500px;
}

.rank {
  color: rgb(255, 255, 255);
  position: relative;
  box-sizing: border-box;
  font-size: 20px;
  font-family: proxima,sans-serif;
}

.textSeparator {
  display: flex;
  align-items: center;
}

.separator {
  flex: 1;
  margin: 0 10px;
}

.inputText {
  color: white;
}
.inputText:hover {
  cursor: pointer;
  background-color: rgb(100,100,100);
}