.container {
  justify-content: center;
  align-content: space-around;
  padding: 0 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  position:fixed;
  left:0px;
  bottom:0px;
  height:110px;
  width:100%;
  background-color: #111111;
}

.text {
  position:fixed;
  left:30px;
  color: #ffffff;
}

.button {
  border-color: red;
  background-color: red;
  user-select: none;
}