.container {
    justify-content: center;
    align-content: space-around;
    padding: 0 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:110px;
    width:100%;
    background-color: #111111;
}

/* display: flex;
justify-content: center;
align-content: space-around;
padding: 0 0.5rem;
padding-top: 10px;
padding-bottom: 10px;
display: flex;
align-items: center;
margin-top: -57px;
margin-bottom: -40px;
margin-right: -8px;
margin-left: -8px;
background-color: #111111; */