.container {
  align-content: space-around;
  align-items: center;
  justify-content: center;
  position: static;
}

.table {
  background-color: #333333;
}

/*
align-content: space-around;
display: flex;
align-items: center;
justify-content: center;
position: static;
width:100%;
border-spacing: 0;
*/