.container {
  align-content: space-around;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  width:100%;
  border-spacing: 0;
}

.mainRow {

}

.subRow {
  background-color: #333333;
}

.text {
  padding: 10px;
  border: 1px solid #222222;
}